<style>
.parallax-container {
      height: 650px;
}
.parallax-opacity{
  opacity:0.6
}
.parallax-content{
  background-color: rgba(255,255,255,0.4);
  padding:10px;
  border-radius: 4px;
  margin: 20px;
}
.parallax-min{
  width:600px;
  background-color: rgba(255,255,255,0.4);
  padding:20px;
  margin-top:-50px
}
.left{
  margin-left: 40px
}
</style>
<script type="text/javascript">
  $('title').text('Blog - AMIF');
</script>
<nav>
  <div class="nav-wrapper" >
    <a href="#" data-tap-disabled="true" class="brand-logo center">Artes Marciais no IFCE - AMIF<br><small style="font-size:10px !important;margin-top:-40px !important;position:absolute;margin-left:-100px !important">Paraguassu Cavalcante - Coordenador do Projeto</small></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="#inicio" class="anchor">Início</a></li>
      <li><a href="#galeria" class="anchor">Galeria</a></li>
      <li><a href="#sobre" class="anchor">Sobre</a></li>
    </ul>
  </div>
</nav>

<div class="parallax-container" id="inicio">
  <div class="parallax parallax-opacity"><img src="/assets/images/background-default.jpg"></div>
  <div class="center black-text parallax-min container left">
           <h1 name="inicio"><%=@frontPanel[0].titulo%></h1>
           <p align="justify" ><%=@frontPanel[0].conteudo.html_safe%></p>
    </div>
</div>
<div class="parallax-container" id="galeria">
  <div class="parallax white"></div>
  <div class="center black-text">
    <h1>Galeria</h1>
    <div class="carousel slider carousel-slider">
      <%@galery.each do |g|%>
      <a class="carousel-item"><img src="<%=g.imagem.url%>" ></a>
      <%end%>
    </div>

  </div>
</div>
<div class="parallax-container" id="sobre">
  <div class="parallax green lighten-5"></div>
  <div class="center black-text">
    <h1>Sobre</h1>
  </div>
</div>
<div class="fixed-action-btn vertical" id="upToHome" style="display:none">
  <a href="#inicio" class="btn-floating btn-large waves-effect waves-light blue anchor right"><i class="material-icons">arrow_upward</i></a>
</div>
