<div class="container">
  <div class="row">
    <div class="col s8" >
      <h5>Sobre o projeto</h5>

      <p align="justify">
        OBJETIVO GERAL<br>
        Estimular os alunos do ensino técnico/integrado, do ensino superior,
        dos funcionários do Instituto Federal e da comunidade externa a
        vivenciaremos benefícios das artes marciais em suas vidas e nas
        suas aulas de educação física.
      </p>
      <p align="justify">
        OBJETIVOS ESPECÍFICOS<br>
        • Pesquisar o estado da arte das artes marciais que melhor se adéquam ao
        interesse do público-alvo e que tenham o seu direcionamento teórico
        condizente com a proposta pedagógica;<br>
        • Selecionar as modalidades de artes marciais adequadas ao atual
        contexto social;<br>
        • Proporcionar a prática esportiva para fortalecer e prevenir que os
        adolescentes não fiquem em situações de vulnerabilidade social;<br>
        Identificar os benefícios físicos e mentais das artes marciais no
        público-alvo.
      </p>
    </div>
    <div class="col s4">
      <h5>Galeria</h5>
      <p align="justify">
        <div class="carousel">
          <%= "Não imagens a serem exibidas no momento" if @galery.count==0%>
          <%@galery.each do |g|%>
          <a class="carousel-item" href="/galeries"><img src="<%=g.imagem.url(:medium)%>"></a>
          <%end%>
        </div>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <h5>Dicas e Informações</h5>
      <p align="justify">Estimular os alunos do ensino técnico/integrado, do ensino superior, dos funcionários do Instituto Federal e da comunidade externa a vivenciaremos benefícios das artes marciais em suas vidas e nas suas aulas de educação física</p>
    </div>
    <div class="col s4">
      <h5>Vídeos JJ & Thay</h5>
      <p align="justify">Estimular os alunos do ensino técnico/integrado, do ensino superior, dos funcionários do Instituto Federal e da comunidade externa a vivenciaremos benefícios das artes marciais em suas vidas e nas suas aulas de educação física</p>
    </div>
    <div class="col s4">
      <h5>Mural da Comunicação</h5>
      <p align="justify">Estimular os alunos do ensino técnico/integrado, do ensino superior, dos funcionários do Instituto Federal e da comunidade externa a vivenciaremos benefícios das artes marciais em suas vidas e nas suas aulas de educação física</p>
    </div>
  </div>
</div>
