<div style="margin-left:200px">
<%= link_to 'Voltar', modalidades_path %> |
<%= link_to 'Ver', @modalidade %>
</div>
<h1 style="margin-left:200px">Editar Modalidade</h1>

<%= render 'form', modalidade: @modalidade %>
