<p id="notice"><%= notice %></p>

<h1 style="margin-left:200px">Modalidades</h1>

<table class="striped container">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modalidades.each do |modalidade| %>
      <tr>
        <td><%= modalidade.nome %></td>
        <td><%= link_to 'Ver', modalidade %></td>
        <td><%= link_to 'Editar', edit_modalidade_path(modalidade) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="fixed-action-btn vertical ">
  <a href="/modalidades/new" class="btn-floating btn-large waves-effect waves-light green right"><i class="material-icons">add</i></a>
</div>
