@import "materialize/components/color";
$primary-color: color("blue-grey","darken-2") !default;
$secondary-color: color("green", "accent-4") !default;
@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "blog";

$desktop-width: 1200px;
$mobile-width: 767px;
$mobile-xs-width: 357px;


@mixin desktop {
  @media only screen and (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-width: #{$mobile-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: #{$mobile-width}) {
    @content;
  }
}
@mixin mobile-xs {
  @media only screen and (max-width: #{$mobile-xs-width}) {
    @content;
  }
}
.m6{
  @include tablet{
    width:100% !important;
  }
}
.logo-login{
  @include mobile{
    width: 200px;
    display: block;
    margin:0 auto;
  }
  @include tablet{
    width: 200px;
    display: block;
    margin: 0 auto;
  }
  @include desktop{
    width: 470px;
    display: block;
    margin: 0 auto;
  }
}
.login{
  @include mobile{
    margin-top:70px;
  }
  @include desktop{
    margin-top: 180px;
  }
}
.logo{
  width: 400px !important;
  display: block;
  margin-right: auto !important;
  margin-left: auto !important;
}
picture{
  margin:80px;
}
.half_display{
  margin-top:10%
}
body{
  // background-color: lightgray
}

.col.m12 > .btn {
 width: 100%;
}
