@import "materialize/components/color";
$primary-color: color("blue-grey","darken-2") !default;
$secondary-color: color("green", "accent-4") !default;
@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "blog";
$break-small: 412px;
$break-large: 1200px;
.logo-login{
  @media screen and (max-width: $break-small){
    margin-top: 50px;
    width: 200px;
  }
  @media screen and (min-width: $break-large){
    margin-top:50px;
    width: 350px;
  }
}
.login{
  @media screen and (min-width: $break-large){
    padding:100px;
    margin-top: 55px;
  }
}
.logo{
  width: 400px !important;
  display: block;
  margin-right: auto !important;
  margin-left: auto !important;
}
picture{
  margin:80px;
}
.half_display{
  margin-top:10%
}
body{
  // background-color: lightgray
}

.col.m12 > .btn {
 width: 100%;
}
