$desktop-width: 1200px;
$mobile-width: 767px;
$mobile-xs-width: 357px;
@mixin desktop {
  @media only screen and (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-width: #{$mobile-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: #{$mobile-width}) {
    @content;
  }
}
@mixin mobile-xs {
  @media only screen and (max-width: #{$mobile-xs-width}) {
    @content;
  }
}
.parallax-container {
      height: 800px;
}
#test1,#test2,#test3,#test4,#test5{
  height: 500px;
  overflow-y: auto;
}
.parallax-opacity{
  opacity:0.6
}
.parallax-content{
  background-color: rgba(255,255,255,0.4);
  padding:10px;
  border-radius: 4px;
  margin: 20px;
}
.parallax-min{
  width:600px;
  background-color: rgba(255,255,255,0.4);
  padding:20px;
  margin-top:-50px
}
// @include mobile{
//   .left{
//     margin-left: 20px
//   }
// }
// @include tablet{
//   .left{
//     margin-left: 20px
//   }
// }
.carousel-item{
  .img{
    margin: auto;
    width: 80% !important;
    height: 500px;
    padding: 10px
  }
}
.article{
  text-align: justify;
}
